.line{
    border-color: 3px solid #3F2B56;
}
.form-group {
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="range"], select {
    width: 100%;
    padding: 8px;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding-left: 20px;
}
.btnCalculo,.btn-regresar{
    border: none;
    background-color:#3EB1C8;
    color: white;
    cursor: pointer;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    letter-spacing: -0.30px;
    padding: 15px 35px 15px 35px;
    border-radius: 30px;
}
button:hover {
    background-color:#3F2B56;
    color: white;
}
.btn-regresar {
    background-color: #3F2B56;
    color: white;
    cursor: pointer;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    letter-spacing: -0.30px;
    padding: 15px 35px 15px 35px;
    border-radius: 30px;
}
.btn-regresar:hover {
    background-color: #3EB1C8;
    color: white;
}
.bordered-card {
    border-radius: 30px;
    border: none;
    background-color: #3EB1C8;
    padding: 2.5rem 2.5rem;
    color: white;
}
.resultado{
    font-size: 3.4em;
}
.title-box,.resultado,.resultado-card{
font-weight: 700;
margin-bottom: .5rem;
margin: 0;
}
.resultado-card{
    font-size: 1.1em !important;
}
.range-meses{
    margin-top: 1.5em;
}
.mb-5 {
    margin-bottom: 2rem !important;
}
.btns {
    justify-content: space-around;
    margin-bottom: 1rem !important;
}