.text-center{
    font-size:2em !important;
    color: #3F2B56;
}
.text-titles{
    color: #3F2B56;
    text-align: center;
    padding: 12px;
}
.card-header{
    background-color:#3EB1C8;
    color: white;
}
.form-container {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.container-form {
    width: 49%; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="range"], select {
    width: 100%;
    padding: 8px;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding-left: 20px;
}

.btnMoral,.btnFisica{
    border: none;
    background-color:#3EB1C8;
    color: white;
    cursor: pointer;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 1.4em;
    line-height: 1.25em;
    letter-spacing: -0.48px;
    border-radius: 0px  30px 30px 0px ;
    padding: 15px 35px 15px 35px;
    width: 30%;
}
.btnFisica{
   
    border-radius: 30px 0px 0px 30px  ;
}
.btnCalculo{
    border: none;
    background-color:#3EB1C8;
    color: white;
    cursor: pointer;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    letter-spacing: -0.30px;
    padding: 15px 35px 15px 35px;
    width: 20%;
    border-radius: 30px;
    
   
}
button:hover {
    background-color:#3F2B56;
    color: white;
}

.TxtCalulo{
    text-align: center;
}
.range-labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}
.Resultados{
    color: #3EB1C8; 
    padding: 5px 10px;
    font-weight: bold;

}
#paymentFrequency {
    border-radius: 30px;
}
